{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<h2>Open CareCentres</h2>
<h4>A place for caregivers and their children</h4>

<hr>
<img src="https://s3.amazonaws.com/ptitcopains/static/images/childrenmusic.jpg" width="300" title="Children playing music"/>
<hr>

<a class="btn btn-success btn-md" style="background:black" href="{% url 'index' %}">See our Care Centres</a>

<hr>

<div class="row col-md-5">
	<p>Open Carecentres is a not-for-profit site where caregivers can register and promote their activities and where validated parents can get updates on their children's activities.</p>

	<p>It is currently in open beta and is being developed by Chris Allison / @ToferC</p>
</div>

<div class="row col-md-2"></div>

<div class="row col-md-5">
	<p>Open Care Centers est un site à but non lucratif où les soignants peuvent s'inscrire et promouvoir leurs activités et où les parents validés peuvent recevoir des mises à jour sur les activités de leurs enfants.</p>

	<p>Il est actuellement en version beta ouverte et est développé par Chris Allison / @ToferC</p>
</div>


{% endblock content %}